body{
    margin: 0;
    font-family: "Jost"; 
    background-color: #333;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    width: 70%;
    margin: auto;
    margin-bottom: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.navbar .title img{
    width: 50%;
    height: 50%;
}

.navhover{
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    margin: 5px;
    font-size: 20px;
    float: right;
    transition: all 1s ease-in-out;
}

.navhover:hover {
    opacity: 100%;
    transition: 1s;
    margin-inline: 15px;
    font-weight: 150;
}

.navbar a.active {
    color: rgb(241, 196, 0);
    pointer-events: none;
    opacity: 90%;
}

.underline{
    text-decoration: none;

}

.underline::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: rgb(241, 196, 0);
    transition: width 0.3s ease;
}

.underline:hover::after {
    width: 100%;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: rgba(241, 241, 241, 0.5);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}

.dropdown.active .dropdown_content {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.dropdown_btn {
    cursor: pointer;
    text-decoration: none;
    display: block;
    color: #f1f1f1;
    font-size: 20px;
    transition: all 1s ease-in-out;
}

.dropdown_btn a{
    font-size: 15px;
    color: #333;
    margin: 0;
}

.dropdown_txt{
    padding: 10px;
}

.dropdown_txt a{
    text-decoration: none;
    color: #333;
    transition: all 1s ease-in-out;
}

.dropdown_txt a:hover{
    color: rgb(241, 196, 0);
    transition: 1s;
}

.motorcycle {
    position: absolute;
    left: 4%;
    animation: motorcycle_move 10s linear infinite;
}


.container{
    width: 1200px;
    margin: auto;
    background-color: #949494;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
}

.container h1{
    text-align: center;
    color: #333;
}

.container .cartoon{
    color: white;
    text-shadow: 0 1px 0 #ccc,
                 0 2px 0 #c9c9c9,
                 0 3px 0 #bbb,
                 0 4px 0 #b9b9b9,
                 0 5px 0 #aaa,
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0 ,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.15);
                 position: relative;
}

.container .cartoon .line {
    width: 200px;
    height: 2px;
    background-color: rgb(241, 196, 0);
    position: absolute;
    top: 50%;
}

.container .cartoon .line:first-child {
    left: 150px; 
}

.container .cartoon .line:last-child {
    right: 150px; 
}

.container .introduction_text{
    width: 800px;
    margin: auto;
    font-size: large;
}

.creator_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1000px;
    margin: auto;
}

.creator_container img {
    width: 300px; 
    height: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    margin-left: 21%;
    border-radius: 30px;
}

.creator_description {
    text-align: center;
    margin-top: 10px; 
    margin-bottom: 100px;
}

.glow {
    font-weight: bold;
    color: transparent;
    text-align: center;
    background: linear-gradient(to right, #f1c400, #f1c400, transparent, transparent, #f1c400, #f1c400);
    background-clip: text;
    -webkit-background-clip: text;
    animation: glowing 1.5s infinite alternate;
}

.list_title{
    color: #f1f1f1;
    font-weight: bold;
}

.chart img{
    float: left; 
    margin: 5px; 
    width: 300px; 
    height: auto;
}

.introduction_text p{
    text-align: justify;
}

@keyframes motorcycle_move {
    0% {
        left: 34%;
        transform: scaleX(1);
    }
    25% {
        left: 47%;
        transform: scaleX(1);
    }
    50% {
        left: 47%;
        transform: scaleX(-1);
    }
    75% {
        left: 34%;
        transform: scaleX(-1);
    }
    100% {
        left: 34%;
        transform: scaleX(1);
    }
}

@keyframes glowing {
    0% {
        text-shadow: 0 0 5px rgba(241, 196, 0, 0.8);
    }
    100% {
        text-shadow: 0 0 20px rgba(241, 196, 0, 1);
    }
}
